<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>
<main layout:fragment="content" class="container" role="main">
    <div class="description-box px-3 py-5 rounded-3">
        <div class="row">
            <div class="col">
                <h2 class="emphasized-text" th:text="#{index.page.title}"></h2>
                <p th:text="#{index.page.description}"></p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col"></div>
            <div class="col-5">
                <form action="#" method="post" th:action="@{~/}" th:object="${formData}">
                    <div class="input-group has-validation">
                        <input type="text" class="form-control form-control-lg"
                               th:field="*{name}" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                               th:placeholder="#{index.page.form.name.placeholder}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
                             th:text="#{index.page.form.name.error}"></div>
                    </div>
                    <div class="mt-3 d-grid d-flex justify-content-end">
                        <button class="btn btn-primary" type="submit" th:text="#{index.page.form.submit}"></button>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-4">
            <div class="col"></div>
            <div class="col-5">
                <div class="alert alert-success" th:if="${greeting != null}" th:text="${greeting.message}"></div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</main>
</body>
</html>
