<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<body>
<main layout:fragment="content" class="container" role="main">
    <section class="login-box px-3 py-5 mx-auto rounded-3">
        <h2 class="emphasized-text" th:text="#{login.page.title}"></h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group mb-3">
                <label for="username" th:text="#{login.form.username}"></label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group mb-3">
                <label for="password" th:text="#{login.form.password}" role="button"></label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group mb-3">
                <a class="btn btn-secondary" th:href="@{/register}" th:text="#{login.form.register-button}"></a>
                <button class="btn btn-success float-end" th:type="submit"
                        th:text="#{login.form.login-button}"></button>
            </div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </form>
        <div class="alert alert-danger fs-6 m-0" role="alert" th:if="${param.error != null}">
            <span th:text="#{login.message.login-error}"></span>
        </div>
        <div class="alert alert-success fs-6 m-0" role="alert" th:if="${param.logout != null}">
            <span th:text="#{login.message.logout-successful}"></span>
        </div>
        <div class="alert alert-success fs-6 m-0" role="alert" th:if="${registration != null}">
            <span th:text="#{login.message.registration-successful}"></span>
        </div>
    </section>
</main>
</body>
</html>
